body {
    margin: 0 auto;
    max-width: 1000px;
    width: auto;
    background-image: url(../img/back.jpg);
    background-attachment: fixed;
}

.body-shadow {
    box-shadow: 0 0 5px 0 #34495e;
    background-color: white;
    padding: 10px;
}

.header-top {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.logo-world {
    align-self: flex-end;
}

.logo-abil {
    align-self: flex-end;
}

.title-full {
    
}

.nav {
    display: flex;
    justify-content: space-around;
    height: 30px;
    align-items: center;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
}

.nav a:hover {
    color: white;
    background-color: slateblue;
}
.swiper .swiper-container {
    width:auto;
    height: 200px;
    background-color: darkgreen;
    margin-bottom: 20px;
}

.content-main  {
    display: flex;
    justify-content: space-between;
    max-height: 365px;
    margin-bottom: 20px;
}
.sidebar .swiper-container {
    width: 300px;
    height: 365px;
    background-color: blue;    
    color:white;
    border: 1px solid black;
}


.content {
    max-width: 650px;
    width: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu-items {
    margin: auto;
    width: 100px;
    height: 100px;
}

.menu-items:hover {
    box-shadow: 0 0 5px 0 #34495e;
}

.text {
    height: 250px;
}

.text h2 {
    text-decoration: underline;
    text-transform: uppercase;
}

.text p {
    font-size: 24px;
    line-height: 100%;
}


.container {
    display: flex;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
}

.question {
    width: 300px;
    height: 120px;
    background-color: darkgray;
    margin-bottom: 2px;
    border: 1px solid black;
  
}


.security {
    width: 300px;
    height: 120px;
    background-color: darkgray;
    border: 1px solid black;
}

.menu-table {
    display: flex;
    margin: 0 10px;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: center;
    height: 222px;
    width: 650px;
}

.table-icon {
    width: 120px;
    height: 120px;
    margin-bottom: 4px;
    
}

.table-icon:hover {
    box-shadow: 0 0 5px 0 #34495e;
}

h3 {
    text-align: center;
}

.news {
    display: flex;
    justify-content: space-between;
}

.new {
    width: 320px;
    height: 200px;
    background-color: darkorange;
    border: 1px solid black;
}

.important, .links {
    display: flex;
    justify-content: space-between;
}

.post, .link {
    width: 240px;
    height: 100px;
    background-color:rgb(255, 0, 191);
    border: 1px solid black;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 200px;
    background-color: #003a5d;
    border: 1px solid black;
    margin-top: 20px;
}

.adds {
    color: white;
    font-size: 20px;
}

.phone {
    color: white;
    font-size: 20px;
}