body {
    margin: 0 auto;
    max-width: 1000px;
    width: auto;
}

.body-shadow {
    box-shadow: 0 0 3px 0 #34495e;
}
.header-top {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.title-full {
    
}

.nav {
    display: flex;
    justify-content: space-around;
    height: 30px;
    align-items: center;
    margin: auto;
}

.swiper-container {
    width:auto;
    height: 200px;
    background-color: darkgreen;
    margin-bottom: 20px;
}

.content-main {
    display: flex;
    justify-content: space-between;
    max-height: 365px;
    margin-bottom: 20px;
}
.sidebar {
    width: 300px;
    height: 365px;
    background-color: blue;    
    color:white;
    border: 1px solid black;
    
}

.content {
    max-width: 650px;
    width: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
}




.text h2 {
    text-decoration: underline;
    text-transform: uppercase;
}

.text p {
    font-size: 24px;
}


.container {
    display: flex;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
}

.question {
    width: 300px;
    height: 105px;
    background-color: darkgray;
    margin-bottom: 2px;
    border: 1px solid black;
  
}


.security {
    width: 300px;
    height: 105px;
    background-color: darkgray;
    border: 1px solid black;
}

.menu-table {
    display: flex;
    margin-left: 50px;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: center;
    height: 222px;
    width: 650px;
}

.table-icon {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

h3 {
    text-align: center;
}

.news {
    display: flex;
    justify-content: space-between;
}

.new {
    width: 320px;
    height: 200px;
    background-color: darkorange;
    border: 1px solid black;
}

.important, .links {
    display: flex;
    justify-content: space-between;
}

.post, .link {
    width: 240px;
    height: 100px;
    background-color:rgb(255, 0, 191);
    border: 1px solid black;
}

.footer {
    width: auto;
    height: 200px;
    background-color: darkslateblue;
    border: 1px solid black;
    margin-top: 20px;
}